.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(231, 232, 232);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

body {
  background-color: #eee;
}
.center-modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 60px); /* Adjust this value as needed */
}

.center-modal .modal-content {
  width: 100%;
  max-width: 600px; /* Adjust this value as needed */
}

.center-modal .modal-dialog,
.center-modal .modal-content {
  margin: 0;
}
body {
  background-color: #eee;
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f6f6f6;
}
.one {
  width: 270px;
  background-color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic1 {
  position: relative;
  right: 22px;
  top: 23px;
}
.pic2 {
  position: relative;
  left: 25px;
  top: 17px;
}
.pic3 {
  position: relative;
  right: 13px;
  bottom: 18px;
}
.pic4 {
  position: relative;
  left: 14px;
  bottom: 21px;
}
.project {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fd4040;
}
.quote {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.two {
  width: 270px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.star {
  font-size: 20px !important;
  color: #b1b4b7;
}
.dot {
  font-size: 20px !important;
  color: #b1b4b7;
}
.round {
  border-radius: 50%;
  background-color: #eee;
  width: 33px;
  height: 33px;
  margin-bottom: -10px;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 22px;
  color: #464e56;
  font-weight: 600;
  text-align: left;
}
.quote2 {
  font-size: 12px;
  font-weight: 500;
  color: #868e94;
  text-align: left;
}
.img1 {
  position: relative;
  left: 20px;
  z-index: 28;
  border: 0.5px solid #6ebde4;
  border-radius: 50%;
  background-color: #bcd8e6;
}
.img2 {
  position: relative;
  left: 10px;
  z-index: 29;
  border: 0.5px solid #6ebde4;
  border-radius: 50%;
  background-color: #bcd8e6;
}
.img3 {
  z-index: 30;
  border: 0.5px solid #6ebde4;
  border-radius: 50%;
  background-color: #bcd8e6;
}
.task {
  color: #727475;
}
.date {
  color: #727475;
}
.imgfix {
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 2px;
}
body {
  margin-top: 20px;
  background: #eee;
}
/* My Account */
.payments-item img.mr-3 {
  width: 47px;
}
.order-list .btn {
  border-radius: 2px;
  min-width: 121px;
  font-size: 13px;
  padding: 7px 0 7px 0;
}
.osahan-account-page-left .nav-link {
  padding: 18px 20px;
  border: none;
  font-weight: 600;
  color: #535665;
}
.osahan-account-page-left .nav-link i {
  width: 28px;
  height: 28px;
  background: #535665;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  font-size: 15px;
  border-radius: 50px;
  margin: 0 7px 0 0px;
  color: #fff;
}
.osahan-account-page-left .nav-link.active {
  background: #f3f7f8;
  color: #282c3f !important;
}
.osahan-account-page-left .nav-link.active i {
  background: #282c3f !important;
}
.osahan-user-media img {
  width: 90px;
}
.card offer-card h5.card-title {
  border: 2px dotted #000;
}
.card.offer-card h5 {
  border: 1px dotted #daceb7;
  display: inline-table;
  color: #17a2b8;
  margin: 0 0 19px 0;
  font-size: 15px;
  padding: 6px 10px 6px 6px;
  border-radius: 2px;
  background: #fffae6;
  position: relative;
}
.card.offer-card h5 img {
  height: 22px;
  object-fit: cover;
  width: 22px;
  margin: 0 8px 0 0;
  border-radius: 2px;
}
.card.offer-card h5:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  bottom: 0;
}
.card.offer-card h5:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  top: 0;
}
.payments-item .media {
  align-items: center;
}
.payments-item .media img {
  margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.order-list img.mr-4 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
  margin: 3px 0 0 0;
  font-size: 12px;
}
.osahan-cart-item .food-item {
  vertical-align: bottom;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}
a:hover {
  text-decoration: none;
}
.text-center.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3da08b;
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}
